* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sec1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
    background-color: #ACD5DE;
    position: relative;
}

.sec1 header {
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec1 header .logo {
    /* border: 1px solid black; */
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec1 header .logo a {
    text-decoration: none;
    color: #1A4E8D;
    font-size: 40px;
}

.sec1 header nav {
    /* border: 1px solid black; */
    width: 50%;
    height: 100%;
}

.sec1 header nav ul {
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec1 header nav ul li {
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 10%;
    height: 40px;
    list-style-type: none;
    font-size: 20px;
    color: #1A4E8D;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s;
}

.sec1 header nav ul li:hover {
    /* border: 1px solid black; */
    background-color: #1A4E8D;
    color: #ACD5DE;
    border-radius: 20px;
}

.sec1 .head {
    /* border: 1px solid black; */
    width: 30%;
    height: 400px;
    margin-left: 100px;
    margin-top: 100px;
}

.sec1 .head .p1 {
    font-size: 70px;
    font-weight: bold;
    color: #1A4E8D;
}

.sec1 .head .p2 {
    font-size: 20px;
    font-weight: bold;
    color: #1A4E8D;
    margin-top: 30px;
}

.sec1 img {
    position: absolute;
    bottom: 0;
    right: 0;
}

.sec2 {
    /* border: 1px solid black; */
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec2 .s2a {
    /* border: 1px solid black; */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec2 .s2a p {
    font-size: 50px;
    font-weight: bold;
    color: #1A4E8D;
}

.sec2 .s2a ul {
    display: flex;
}

.sec2 .s2a ul li {
    margin-right: 50px;
    list-style-type: none;
    color: #1A4E8D;
    font-weight: bold;
}

.sec2 .s2a .btn1 {
    border: none;
    width: 10%;
    height: 50px;
    border-radius: 25px;
    background-color: #1A4E8D;
    color: white;
}

.sec2 .s2b {
    /* border: 1px solid black; */
    width: 80%;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec2 .s2b .img {
    /* border: 1px solid black; */
    width: 23%;
    height: 100%;
    overflow: hidden;
}

.sec2 .s2b .img img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.sec2 .s2b .img img:hover {
    transform: scale(1.1);
}

.sec3 {
    /* border: 1px solid black; */
    width: 100%;
    height: 900px;
    background-color: #ACD5DE;
}

.sec3 .s3a {
    /* border: 1px solid black; */
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3 .s3a p {
    font-size: 60px;
    font-weight: bold;
    color: #1A4E8D;
}

.sec3 .s3b {
    /* border: 1px solid black; */
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: space-evenly;
}

.sec3 .s3b .s3content1 {
    /* border: 1px solid black; */
    width: 17%;
    height: 450px;
    border-radius: 20px;
    background-color: white;
}

.sec3 .s3b .s3content1 .img {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ACD5DE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content1 .p1 {
    font-size: 20px;
    color: #1A4E8D;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content1 .p2 {
    font-size: 20px;
    color: #1A4E8D;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 100px;
}

.sec3 .s3b .s3content2 {
    /* border: 1px solid black; */
    width: 17%;
    height: 450px;
    align-self: flex-end;
    border-radius: 20px;
    background-color: white;
}

.sec3 .s3b .s3content2 .img {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ACD5DE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content2 .p1 {
    font-size: 20px;
    color: #1A4E8D;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content2 .p2 {
    font-size: 20px;
    color: #1A4E8D;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 100px;
}

.sec3 .s3b .s3content3 {
    /* border: 1px solid black; */
    width: 17%;
    height: 450px;
    border-radius: 20px;
    background-color: white;
}

.sec3 .s3b .s3content3 .img {
    /* border: 1px solid black; */
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #ACD5DE;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content3 .p1 {
    font-size: 20px;
    color: #1A4E8D;
    margin-top: 50px;
    margin-left: 25px;
}

.sec3 .s3b .s3content3 .p2 {
    font-size: 20px;
    color: #1A4E8D;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 100px;
}

.sec4 {
    /* border: 1px solid black; */
    width: 100%;
    height: 800px;
    background-color: #1A4E8D;
}

.sec4 .s4a {
    /* border: 1px solid black; */
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.sec4 .s4a p {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.sec4 .s4a .btn2 {
    border: none;
    width: 10%;
    height: 50px;
    border-radius: 25px;
    color: #1A4E8D;
    transition: 0.5s;
}

.sec4 .s4a .btn2:hover {
    background-color: #1A4E8D;
    color: #ACD5DE;
    border: 1px solid #ACD5DE;
}

.sec4 .s4b {
    /* border: 1px solid black; */
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sec4 .s4b .s4img1 {
    /* border: 1px solid black; */
    width: 18%;
    height: 350px;
    background-image: url(Image/01.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
}

.sec4 .s4b .s4img1 p {
    display: none;
}

.sec4 .s4b .s4img1:hover p {
    display: block;
}

.sec4 .s4b .s4img1:hover {
    background-color: #96d4e270;
    background-blend-mode: overlay;
}

.sec4 .s4b .s4img2 {
    /* border: 1px solid black; */
    width: 18%;
    height: 350px;
    background-image: url(Image/02.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}


.sec4 .s4b .s4img2 p {
    display: none;
}

.sec4 .s4b .s4img2:hover p {
    display: block;
}
.sec4 .s4b .s4img2:hover {
    background-color: #96d4e270;
    background-blend-mode: overlay;
}

.sec4 .s4b .s4img3 {
    /* border: 1px solid black; */
    width: 18%;
    height: 350px;
    background-image: url(Image/03.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}


.sec4 .s4b .s4img3 p {
    display: none;
}

.sec4 .s4b .s4img3:hover p {
    display: block;
}
.sec4 .s4b .s4img3:hover {
    background-color: #96d4e270;
    background-blend-mode: overlay;
}

.sec4 .s4b .s4img4 {
    /* border: 1px solid black; */
    width: 18%;
    height: 350px;
    background-image: url(Image/04.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}


.sec4 .s4b .s4img4 p {
    display: none;
}

.sec4 .s4b .s4img4:hover p {
    display: block;
}
.sec4 .s4b .s4img4:hover {
    background-color: #96d4e270;
    background-blend-mode: overlay;
}

.sec4 .s4b .s4img5 {
    /* border: 1px solid black; */
    width: 18%;
    height: 350px;
    background-image: url(Image/05.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}


.sec4 .s4b .s4img5 p {
    display: none;
}

.sec4 .s4b .s4img5:hover p {
    display: block;
}
.sec4 .s4b .s4img5:hover {
    background-color: #96d4e270;
    background-blend-mode: overlay;
}

footer {
    /* border: 1px solid black; */
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer .f1 {
    /* border: 1px solid black; */
    width: 20%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .f1 p {
    font-size: 50px;
    font-weight: bold;
    color: #1A4E8D;
}

footer .f2 {
    /* border: 1px solid black; */
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f2 .p1 {
    font-size: 30px;
    color: #1A4E8D;
}

footer .f2 .p2 {
    font-size: 20px;
    margin-top: 30px;
}

footer .f3 {
    /* border: 1px solid black; */
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f3 .p1 {
    font-size: 30px;
    color: #1A4E8D;
}

footer .f3 .p2 {
    font-size: 20px;
    margin-top: 30px;
}

footer .f3 .p3 {
    font-size: 20px;
}


footer .f4 {
    /* border: 1px solid black; */
    width: 20%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer .f4 .p1 {
    font-size: 30px;
    color: #1A4E8D;
}

footer .f4 .p2 {
    font-size: 20px;
    margin-top: 30px;
}

footer .f4 .p3 {
    font-size: 20px;
}

footer .f4 .p4 {
    font-size: 20px;
}

@media (max-width:1200px) {
    .sec1 header .logo {
        width: 20%;
    }

    .sec1 header nav {
        width: 60%;
    }

    .sec1 header nav ul li {
        font-size: 18px;
    }

    .sec1 .head {
        margin: 50px;
        width: 50%;
    }

    .sec2 .s2a {
        height: 300px;
    }

    .sec2 .s2a p br{
        display: none;
    }

    .sec2 .s2a p {
        font-size: 50px;
    }

    .sec2 .s2a ul li {
        font-size: 20px;
    }

    .sec2 .s2a .btn1 {
        width: 20%;
    }

    .sec2 .s2b {
        width: 100%;
        height: 300px;
        flex-wrap: wrap;
    }

    .sec2 .s2b .img {
        width: 23%;
        height: 250px;
    }

    .sec3 {
        height: 1000px;
    }

    .sec3 .s3b {
        height: 700px;
    }

    .sec3 .s3b .s3content1 {
        width: 30%;
    }

    .sec3 .s3b .s3content2 {
        width: 30%;
    }

    .sec3 .s3b .s3content3 {
        width: 30%;
    }

    .sec4 {
        height: 1300px;
    }

    .sec4 .s4a {
        height: 200px;
    }

    .sec4 .s4a p {
        font-size: 30px;
    }

    .sec4 .s4a .btn2 {
        width: 20%;
    }

    .sec4 .s4b {
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: 1000px;
    }

    .sec4 .s4b .s4img1, .sec4 .s4b .s4img2, .sec4 .s4b .s4img3, .sec4 .s4b .s4img4, .sec4 .s4b .s4img5 {
        width: 45%;
        height: 300px;
    }

}

@media (max-width:980px) {
    .sec1 header .logo {
        width: 25%;
    }

    .sec1 header nav {
        width: 75%;
    }

    .sec1 header nav ul li {
        font-size: 18px;
    }

    .sec1 .head {
        margin: 50px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .sec1 img {
        width: 700px;
    }

    .sec2 .s2a {
        height: 300px;
    }

    .sec2 .s2a p br{
        display: none;
    }

    .sec2 .s2a p {
        font-size: 50px;
    }

    .sec2 .s2a .btn1 {
        width: 20%;
    }

    .sec2 .s2b {
        width: 100%;
        height: 250px;
        flex-wrap: wrap;
    }

    .sec2 .s2b .img {
        width: 23%;
        height: 200px;
    }

    .sec3 {
        height: 1000px;
    }

    .sec3 .s3b {
        height: 700px;
    }

    .sec3 .s3b .s3content1 {
        width: 30%;
    }

    .sec3 .s3b .s3content2 {
        width: 30%;
    }

    .sec3 .s3b .s3content3 {
        width: 30%;
    }

    .sec4 {
        height: 1200px;
    }

    .sec4 .s4a {
        height: 200px;
    }

    .sec4 .s4a p {
        font-size: 30px;
    }

    .sec4 .s4a .btn2 {
        width: 20%;
    }

    .sec4 .s4b {
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: 900px;
    }

    .sec4 .s4b .s4img1, .sec4 .s4b .s4img2, .sec4 .s4b .s4img3, .sec4 .s4b .s4img4, .sec4 .s4b .s4img5 {
        width: 45%;
        height: 250px;
    }

    footer {
        height: 700px;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    footer .f1 {
        width: 45%;
        height: 300px;
    }

    footer .f2 {
        width: 45%;
        height: 300px;
    }

    footer .f3 {
        width: 45%;
        height: 300px;
    }

    footer .f4 {
        width: 45%;
        height: 300px;
    }
}

@media (max-width:720px) {

    .sec1 header .logo {
        width: 25%;
    }

    .sec1 header .logo a {
        font-size: 25px;
    }

    .sec1 header nav {
        width: 75%;
    }

    .sec1 header nav ul li {
        font-size: 14px;
    }

    .sec1 .head {
        margin-top: 0;
        margin-left: 0;
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sec1 .head .p1 {
        text-align: center;
        font-size: 30px;
        margin-top: 50px;
    }

    .sec1 img {
        width: 100%;
    }

    .sec2 {
        height: 700px;
    }

    .sec2 .s2a {
        height: 250px;
    }

    .sec2 .s2a p br{
        display: none;
    }

    .sec2 .s2a p {
        font-size: 30px;
    }

    .sec2 .s2a .btn1 {
        width: 30%;
    }

    .sec2 .s2b {
        width: 100%;
        height: 450px;
        flex-wrap: wrap;
    }

    .sec2 .s2b .img {
        width: 45%;
        height: 200px;
    }

    .sec3 {
        height: 1650px;
    }

    .sec3 .s3a {
        height: 100px;
    }

    .sec3 .s3a p {
        font-size: 25px;
    }

    .sec3 .s3b {
        height: 1500px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .sec3 .s3b .s3content1 {
        width: 90%;
    }

    .sec3 .s3b .s3content2 {
        width: 90%;
        /* align-items: flex-start; */
        align-self: center;
    }

    .sec3 .s3b .s3content3 {
        width: 90%;
    }

    .sec4 {
        height: 950px;
    }

    .sec4 .s4a {
        height: 200px;
    }

    .sec4 .s4a p {
        font-size: 30px;
    }

    .sec4 .s4a .btn2 {
        width: 20%;
    }

    .sec4 .s4b {
        /* flex-direction: column; */
        flex-wrap: wrap;
        height: 700px;
    }

    .sec4 .s4b .s4img1, .sec4 .s4b .s4img2, .sec4 .s4b .s4img3, .sec4 .s4b .s4img4, .sec4 .s4b .s4img5 {
        width: 45%;
        height: 200px;
    }

    footer {
        height: 450px;
        /* flex-direction: column; */
        flex-wrap: wrap;
    }

    footer .f1 {
        width: 45%;
        height: 200px;
    }

    footer .f2 {
        width: 45%;
        height: 200px;
    }

    footer .f3 {
        width: 45%;
        height: 200px;
    }

    footer .f4 {
        width: 45%;
        height: 200px;
    }

}


@media (max-width:480px) {
    
     .sec1 header {
        height: 100px;
        flex-direction: column;
     }

    .sec1 header .logo {
        width: 100%;
    }

    .sec1 header nav {
        width: 100%;
    }

    .sec1 header nav ul li {
        font-size: 12px;
        font-weight: bold;
    }

    .sec1 .head {
        margin-top: 50px;
        margin-left: 0;
        text-align: center;
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
    }

    .sec1 .head .p1 {
        font-size: 30px;
    }

    .sec1 img {
        width: 100%;
        height: 350px;
        position: absolute;
    }

    .sec2 {
        /* border: 1px solid black; */
        height: 1700px;
    }

    .sec2 .s2a {
        /* border: 1px solid black; */
        height: 300px;
    }

    .sec2 .s2a p br{
        display: none;
    }

    .sec2 .s2a p {
        font-size: 30px;
    }

    .sec2 .s2a ul {
        flex-direction: column;
        align-items: center;
    }

    .sec2 .s2a ul li {
        margin: 0;
    }

    .sec2 .s2a .btn1 {
        width: 50%;
    }

    .sec2 .s2b {
        /* border: 1px solid black; */
        width: 90%;
        height: 1300px;
        flex-direction: column; 
    }

    .sec2 .s2b .img {
        width: 90%;
        height: 300px;
    }

    .sec3 {
        height: 1650px;
    }

    .sec3 .s3a {
        height: 100px;
    }

    .sec3 .s3a p {
        font-size: 25px;
    }

    .sec3 .s3b {
        height: 1500px;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .sec3 .s3b .s3content1 {
        width: 90%;
    }

    .sec3 .s3b .s3content2 {
        width: 90%;
        /* align-items: flex-start; */
        align-self: center;
    }

    .sec3 .s3b .s3content3 {
        width: 90%;
    }

    .sec4 {
        height: 1450px;
    }

    .sec4 .s4a {
        height: 200px;
    }

    .sec4 .s4a p {
        font-size: 30px;
    }

    .sec4 .s4a .btn2 {
        width: 30%;
    }

    .sec4 .s4b {
        flex-direction: column;
        height: 1200px;
    }

    .sec4 .s4b .s4img1, .sec4 .s4b .s4img2, .sec4 .s4b .s4img3, .sec4 .s4b .s4img4, .sec4 .s4b .s4img5 {
        width: 90%;
        height: 200px;
    }

    footer {
        /* border: 1px solid black; */
        height: 700px;
        flex-direction: column;
    }

    footer .f1 {
        /* border: 1px solid black; */
        width: 90%;
        height: 150px;
    }

    footer .f2 {
        /* border: 1px solid black; */
        width: 90%;
        height: 150px;
    }

    footer .f3 {
        /* border: 1px solid black; */
        width: 90%;
        height: 150px;
    }

    footer .f4 {
        /* border: 1px solid black; */
        width: 90%;
        height: 150px;
    }
}